.side-bar{
  position: fixed;
  top : 56px;
  left: 0px;
  bottom: 0px;
  background-color: white;
 
  cursor: pointer;
  padding-top: 5px;
  width: 72px;
  z-index: 200;
}
.sidebar-element{
  display: flex;
  height: 75px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.sidebar-element:hover{
  background-color: rgb(235, 235, 235);
}
.side-bar img{
  height: 24px;
  margin-bottom: 6px;
}
.side-bar div{
  font-family: Roboto;
  font-size: 10px;
}