.everything {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.thumbnail {
  width: 100%;
}

.div-thumbnail {
  margin-bottom: 10px;
  position: relative;
}
.time-stamp {
  color: white;
  background-color: black;
  font-family: Roboto;
  position: absolute;
  bottom: 8px;
  right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
}
.video-preview {
  display: grid;
  grid-template-columns: 47px 1fr;
}

.profile-pic {
  border-radius: 18px;
  width: 36px;
}
.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 12px;
}
.author,
.stats {
  font-size: 12px;
  margin-bottom: 4px;
  color: rgb(96, 96, 96);
}
